function Main.main 3
call List.new 0
pop local 0
call List.new 0
pop local 1
push local 0
push local 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
push constant 1
call List.Add 2
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
call List.Pop 1
pop temp 0
push local 0
push local 0
call List.Count 1
push constant 1
sub
call List.GetValue 2
call Output.printInt 1
pop temp 0
push constant 0
return
